        <footer class="footer-fake">
        {{!-- <i class="twitter"><img src="/images/twitter.svg" alt="icones twitter"></i> --}}
      <a href="https://www.linkedin.com/in/robert-iasoni-5610a7136/"><i class="fab fa-twitter fa-lg"></i></a>
        <p class="copyright">&copy; - IAR Formation - 2020</p>
        </footer>
