  <title>IAR - {{title}}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--on dit a IE quelle render engine on veut render la page-->
  <meta id="site_url" http-equiv="X-UA-Compatible" content="ie=edge" data-url="{{site_url}}">
  <link rel="stylesheet" href="/css/style.css">
  <!--google fonts-->
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&family=Roboto:wght@300;400;500;700;900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
  {{!-- <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap" rel="stylesheet"> --}}
  <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&xAllerta+Stencil&family=Monoton&family=Orbitron&family=Raleway+Dots&display=swap" rel="stylesheet">
  <!--font awesome-->
  <script src="https://kit.fontawesome.com/fc8ec6aa4f.js" crossorigin="anonymous"></script>
  <!-- bootstrap script-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {{!-- {{#each js}}
    <script type="module" src="/js/{{this}}"></script>
    {{/each}} --}}
