<body class="horse">

<section class="dashboard-sec">
    <h1 class="welcome">Bienvenue &nbsp; Robert !</h1>

    <div class="dashylinks">
        <a href="/manage-messages">Consulter mes messages</a>
        <a href="/manage-formations">Gérer mes formations</a>
    </div>

    <div class="user-give-role">
       <a href="/manage-users"><p class="vertical-text">UTILISATEURS</p></a>
    </div>

   </section>

</body>