<body class="one-form-body">
        
<div class="one-formation-box">
        <div class="margin-formation">
        <h1 class="hache-one-form">{{formations.title}}</h1>
        <hr class="hr-one-form">
 <section class="one-formation-mini">
              <p>{{formations.minidescription}}</p>    
 </section>
  <section class="one-formation-long">
              <p>{{formations.description}}</p>    
 </section>
 </div>
 </div>
</body>
