{{!-- comme ca si tu veux tu peux changer le background à ta sauce--}}

<body class="body-surmesure">

    <section class="first-section">
        <h2>#<span></span></h2>
        <div class="image" style="background-image:url(../images/img\ svg\ william.svg)"></div>
    </section>
    <hr class="header-hr" size="6px">

    <section class="second-section">
        {{!-- donner des class spécifique bien précise--}}
        <h1>Votre projet est unique ! Offrez lui du sur mesure !</h2>

            <p class="p-mesure">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero excepturi, est
                cupiditate, quibusdam officia
                dolor numquam omnis nostrum natus quo voluptatum tempora nihil iusto, necessitatibus possimus minima
                quia?
                Nostrum, quis.</p>

            <p class="p-mesure">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero excepturi, est
                cupiditate, quibusdam officia
                dolor numquam omnis nostrum natus quo voluptatum tempora nihil iusto, necessitatibus possimus minima
                quia?
                Nostrum, quis.</p>

    </section>

    <section class="icon">
        <h2>IAR, c'est la ...</h2>
        <div class="icons">
            <i class="fas fa-handshake" <p class="p-icon"><br>Cohésion</p></i>
            <i class="fas fa-lock"<p class="p-icon"><br>Confidentialité</p></i>
            <i class="fas fa-chalkboard-teacher"<p class="p-icon"><br>Pédagogie</p></i>
            {{!-- <i class="fas fa-euro-sign"<p class="p-icon"><br>Finances</p></i> --}}
        </div>
    </section>



    <section class="third-section">
        <h3>Financement</h2><br>
        <h4>IAR Formation, vous accompagne dans votre démarche... </h3>
        <p class="p-mesure">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum blanditiis distinctio velit.
            Neque doloremque
            incidunt reiciendis similique ducimus expedita natus, enim, optio, quas aliquid placeat vero voluptate
            asperiores! Alias, temporibus.</p>

    </section>


</body>