.one-form-body{
    background-image: url(/images/red-bench.jpeg);
}

.one-formation-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
    padding-bottom: 19em;
    text-align: center;
    margin: 6em;
}

.hache-one-form{
    color: white;
}

.hr-one-form{
    background: white;
}

@media(max-width:991px){
    .one-formation-box{
      padding-bottom: 29em;
    }
}

@media(max-width:568px){
    .one-formation-box{
      padding-bottom: 4em;
      margin: 5em 2em 0 2em;
    }
}